<div class="container">
    <div class="row">
        <h1 class="text-center">Carga inventario Elit</h1>
        <form action="/cargaelist" class="formulario">
            <div class="form-check form-check-inline">
                <input class="form-check-input provincias" type="radio" name="provincia" id="mendoza" value="00013"
                    checked>
                <label class="form-check-label" for="mendoza">
                    Mendoza
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input provincias" type="radio" name="provincia" id="buenosAires" value="00031">
                <label class="form-check-label" for="buenosAires">
                    Buenos Aires
                </label>
            </div>
            <input type="text" name="nfactura" value="00013" id="numeroFactura" class="shadow mb-3">
            <input type="hidden" name="empresa" value="ELIT SA">
            <div id="checkform">

            </div>
            <div class="row">
                <div class="col-4">
                    <input type="search" name="sku" list="datalistOptions" class="shadow w-100" id="search"
                        autocomplete="off" placeholder="SKU">
                    <div class=" position-absolute  col-3">
                        <div class="border px-1 zindexalto" id="autocompletadocolocar">
                            <div></div>
                        </div>
                    </div>
                    <template class="row" id="autocomplete">
                        <div class="item">
                            <span class="nombre col-8"></span>
                            <span class="sku col-4"></span>
                        </div>
                    </template>
                </div>
                <div class="col-4">
                    <input type="number" name="cantidad" class="w-100 shadow" placeholder="Cantidad">
                </div>
                <div class="col-4">
                    <button class="btn w-100 btn-warning shadow" id="agregar">Agregar</button>
                </div>
            </div>
            <div class="row h-100 mx-1 my-4 w-100">
                <div class="template-add">
                    <div class="row">
                        <div class="col-5 bg-primary py-1 h-100 rounded shadow ">
                            <span>this name</span> <br>
                            <span>sku</span>
                        </div>
                        <div class="col-5">
                            <input type="number" class="w-100 h-100 shadow" placeholder="Cantidad">
                        </div>
                        <div class="col-2">
                            <button class="btn btn-danger h-100">Borrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="https://momentjs.com/downloads/moment-with-locales.min.js"></script>

<script>
    moment.locale('es-mx')
    //console.log(moment().format('DDMMYYYY'))
    for (let index = 0; index < 10; index++) {
        document.getElementById('checkform').innerHTML += `<div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio" name="fechacompra" id="flexRadioDefault`+ index + `" value="` + moment().subtract(index, 'days').format('DDMMYY') + `">
                                                                <label class="form-check-label" for="flexRadioDefault`+ index + `">
                                                                    `+ moment().subtract(index, 'days').format('DD/MM/YY') + `
                                                                </label>
                                                            </div>`

    }
    let provincias = Array.prototype.slice.apply(document.querySelectorAll('.provincias'))
    provincias.map((e) => {
        e.addEventListener('click', (e) => {
            document.getElementById('numeroFactura').value = e.path[0].defaultValue
        })
    })
</script>
{{!-- busco los productos --}}
<script>
    document.addEventListener("DOMContentLoaded", async function (event) {
        let $templateAutocomplete = document.getElementById("autocomplete").content;
        let $search = document.getElementById('search')
        let $fragmento = document.createDocumentFragment()
        //cambiar de focus al tocar next
        ////console.log($templateAutocomplete)
        let inputs = Array.prototype.slice.apply(document.querySelectorAll('form input'))
        inputs.map((e, index) => {
            e.addEventListener('keydown', (ev) => {
                if (ev.key === 'Enter') {
                    if (index === inputs.length - 1) {
                        inputs[0].focus()
                    } else {
                        ev.preventDefault()
                        inputs[index + 1].focus()
                        if (index === 2) {
                            inputs[4].focus()
                        }
                    }
                }
            })

        })
        async function buscarProducto(sku, busquedaTipo) {
            let skus

            let myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/x-www-form-urlencoded");


            let urlencoded = new URLSearchParams();
            urlencoded.append("sku", sku);
            let requestOptions = {
                method: 'POST',
                body: urlencoded,
                redirect: 'follow'
            };
            return await fetch(busquedaTipo, requestOptions)
                .then(response => response.json())
                .then(result => {
                    if (result.length === 0 || result.length === null) {
                        return null
                    } else {
                        skus = result
                        if (result.length === 1) {
                            //skus = null
                            //sku = result[0].sku
                            //nombre = result[0].nombre
                            return result[0]
                        } else {
                            return result
                        }
                    }
                })
            // .catch(error => //console.log('error', error));
        }

        async function busqueda(sku) {
            if (Number.isInteger(parseInt(sku))) {
                //entro como numero
                return await buscarProducto(sku, '/busquedasku')
            } else {
                //entro como nombre 
                return await buscarProducto(sku, '/busquedasnombre')
            }
        }
        let sku
        //empiezo la busqueda del sku 
        $search.addEventListener('keydown', async function (e) {
            //saco algunas teclas de la ecuacion 
            //meto todo en un tiempo para tomar correctamente los valores 
            setTimeout(async function () {
                if (e.key != 'Control' && e.key != 'Alt' && e.key != 'Meta' && e.key != 'ArrowUp' && e.key != 'ArrowDown') {
                    sku = $search.value
                    //si e menor que 3 limpiamos el elemento
                    if (sku.length < 3) {
                        document.querySelector("#autocompletadocolocar div").innerHTML = ''
                    }
                    //si es mayor o igual a tres empezamos la busqueda, lo primero que hacemos es limpiar el elemento
                    if (sku.length >= 3) {
                        document.querySelector("#autocompletadocolocar div").innerHTML = ''
                        let busquedas = await busqueda(sku)
                        //console.log(busquedas)
                        if (busquedas == null) {
                            $templateAutocomplete.querySelector('.sku').textContent = 'El elemento no existe'
                            $templateAutocomplete.querySelector('.nombre').textContent = ''
                            let $clone = document.importNode($templateAutocomplete, true);
                            $fragmento.appendChild($clone)
                        } else if (busquedas.length == undefined) {
                            //console.log(busquedas)
                            $templateAutocomplete.querySelector('.sku').textContent = busquedas.sku
                            $templateAutocomplete.querySelector('.nombre').textContent = busquedas.nombre
                            let $clone = document.importNode($templateAutocomplete, true);
                            $fragmento.appendChild($clone)
                        } else {

                            busquedas.map((e) => {
                                $templateAutocomplete.querySelector('.sku').textContent = e.sku
                                $templateAutocomplete.querySelector('.nombre').textContent = e.nombre
                                let $clone = document.importNode($templateAutocomplete, true);
                                $fragmento.appendChild($clone)
                            })
                        }
                        document.querySelector("#autocompletadocolocar div").appendChild($fragmento);

                    }

                }
                focuselemento(e)
            }, 0)
        }
            ////console.log(e.key)
        )
        inputs.map((e))=>{
            e.addEventListener('focusout',()=>{
             document.querySelector("#autocompletadocolocar div").innerHTML = ''
        })
        }
        let indexBajar = 0

        function focuselemento(e) {
            let arrayDeBusqueda = Array.prototype.slice.apply(document.querySelectorAll("#autocompletadocolocar div div"))
            console.log(arrayDeBusqueda.length)
            console.log(indexBajar)
            //no hago nada si el leng es 0
            if (arrayDeBusqueda.length == 1) {
                arrayDeBusqueda = null
            }
            if (arrayDeBusqueda.length == 1) {
                arrayDeBusqueda[0].classList.remove('focusBusqueda')
            } else {
                arrayDeBusqueda.map((el) => {
                    el.classList.remove('focusBusqueda')
                })
            }

            if (e.key == 'ArrowDown' && arrayDeBusqueda != null) {
                if (arrayDeBusqueda.length == 1) {
                    arrayDeBusqueda[0].classList.add('focusBusqueda')
                } else {
                    arrayDeBusqueda[indexBajar].classList.add('focusBusqueda')
                }
                indexBajar++
                if (indexBajar == arrayDeBusqueda.length) {
                    indexBajar = 0
                }

            } else if (e.key == 'ArrowUp' && arrayDeBusqueda != null) {
                if (indexBajar == 0) {
                    indexBajar = arrayDeBusqueda.length
                }
                indexBajar--
                arrayDeBusqueda[indexBajar].classList.add('focusBusqueda')
            }
        }













    });

</script>
{{!-- Agrego los productos --}}

<style>
    .zindexalto {
        z-index: 2000 !important;
        background-color: white;
        width: 100% !important;
    }

    .zindexalto .row:hover {
        z-index: 2000 !important;
        background-color: aliceblue;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    .item {
        border: 1px solid black;
    }

    .item:hover {
        background-color: red;
    }

    #autocompletadocolocar {
        padding-left: 0;
        padding-right: 0;
    }

    .sku {
        width: 25% !important;
    }

    .nombre {
        width: 75% !important;

    }

    .focusBusqueda {
        background-color: aqua;
    }
</style>