<form class="form-horizontal ms-4" action="/cargarProvedores" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Provedores</legend>

<!-- Text input-->
<div class="form-group">
  
  <div class="col-md-5">
  <input id="" name="nameProvedor" type="text" placeholder="Provedor" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  
  <div class="col-md-5">
  <input id="" name="cuitProvedor" type="text" placeholder="CUIT" class="form-control input-md" required="">
    
  </div>
</div>
<div class="col-md-5 mt-2">
  <button class="btn btn-block btn-success col-md-12" type="submit">
    Cargar
  </button>
</div>
<div class="d-none">
   ${imprimirqr("qr"+llamada.nremito)}
</div>
</fieldset>
</form>
{{>errors}}