<div class="container mt-3 mb-3">
    <section class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-screen">
                <div class="card account-dialog">
                    <div class="card-header bg-success text-white text-center"> Inicia sesion </div>
                    <div class="card-body">
                        <form action="/singin" method="POST">
                            <div class="form-group"><input class="form-control" id="email" type="email" aria-describedby="Email" placeholder="Ingresa tu email" name="email" /></div>
                            <div class="form-group"><input class="form-control" id="contra" type="password" placeholder="Contraseña" name="password" /></div>
                            <div class="form-group"><button class="btn btn-success btn-block" type="submit">Iniciar Sesion</button></div>
                        </form>
                            <div class="form-group"><a class="btn btn-secondary btn-block" href="/singup">Registrarse</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </section>
</div>
