<div class="container mt-3 mb-3">
    <section class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-screen">
                <div class="card account-dialog">
                    <div class="card-header bg-primary text-white text-center"> Crear cuenta </div>
                    <div class="card-body">
                        <form action="/singup" method="POST">
                            <div class="form-group"><input class="form-control" id="nombre" type="name" placeholder="Nombre" name="name" value="" /></div>
                            <div class="form-group"><input class="form-control" id="email" type="email" aria-describedby="Email" placeholder="Ingresa tu email" name="email" /></div>
                            <div class="form-group"><input class="form-control" id="contra" type="password" placeholder="Contraseña" name="password" /></div>
                            <div class="form-group"><input class="form-control" id="repcontra" type="password" placeholder="Repita la contraseña" name="confirmPassword" /></div>
                            <div class="account-dialog-actions text-center"><button class="btn btn-primary btn-block" type="submit">Registrase</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </section>
</div>