<style>
    .codebar {
  height:14.9mm;
  margin-top:0;
}
</style>
<div id="app9p">
<input type="text" id="id" class="d-print-none" placeholder="SKU">
<input type="hidden" id="tamPedido" class="d-print-none">
<button class="btn btn-block btn-warning d-print-none w-100 mb-4" >as</button>
    <div v-for="(items,index) in llamada.pedido">
        <div class="d-block tamh">
            <div class=" d-print-block d-print-grid stiker d-inline-block" :id="'qrprint'+(index+1)">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12 bg-info descripcion ps-2" >
                                <div class="minimo d-block">
                                      <b>${items.nombre} </b>  
                                </div>
                                <div class="rma ps-3">
                                     Conservar para gestionar RMA
                                </div>
                            </div>
                            <div class="col-12 bg-info rma">
                            </div>
                            <div class="col-12 bg-warning descripcion ">
                                <b>
                                    <span class="ms-4 mt-0 h1violento ">
                                        ${items.sku}
                                    </span>
                                </b>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 br-danger qr py-auto ps-2" >
                        {{!-- 
                        <svg id="barcode" class="codebar"></svg>
                        --}}
                        <div class="pt-2">
                            <div :id="'qr'+index"></div>
                            <span class="epigrafe">
                                <b>${llamada.nremito}</b>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-print-none grid d-inline-block ms-5">
                <div class="row ">
                    <button class="btn bt-block btn-primary py-0 " @click="imprimir(index,items.cantidad)">
                    imprimir
                </button> 
                <h5>La cantidad es:</h5>
                <h2><p>${items.cantidad}</p></h2>
                </div>
            </div>
        </div>
        <div class="d-none">
        </div>
    </div>
</div>
  <script src="/public/barcode.js"></script>
    <script src="/public/qrcode.js"></script>
<script>



</script>
{{!-- <script src="/public/printstiker.js"></script> --}}
