<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-print-none">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
    data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand ms-2" href="/">Stikers</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link " href="/cargarProvedores">Cargar provedores</a>
      </li>
      <li class="nav-item"><a href="/buscarRemitos" class="nav-link">Lista Remitos</a></li>
      <li class="nav-item"><a href="/cargarRemito" class="nav-link">Cargar remito</a></li>
      <li class="nav-item"><a href="/cargaelit" class="nav-link">Carga Elit</a></li>
      <li class="nav-item"><a href="/sinremito" class="nav-link">Sin Remitos</a></li>
    </ul>
    <div class="d-flex me-2">
      <a class="btn btn-danger" type="submit" href="/logout">Cerrar sesion</a>
    </div>
  </div>
</nav>
