<div id="app">
    <form class="form-horizontal ms-4" method="POST" action="/impresiones" @submit.prevent="enviar" >
    
        <!-- Form Name -->
        <legend>Inventario</legend>
    
        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-6">
            <input id="" name="nfactura" type="text" placeholder="N° de factura" class="form-control input-md" v-model="nfactura">
    
          </div>
        </div>
    
        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-6 autocomplete">
            <input id="myInput" name="empresa" type="text" placeholder="Empresa" class="form-control input-md" v-model="empresa" @keyup="buscarProvedor()" >
            <div id="myInputautocomplete-list" class="autocomplete-items col-md-6">
              <div  v-for="(provedor,index) in provedores" @click="empresa = provedor.provedor; provedores = null;">
                ${provedor.provedor}
              </div>
            </div>
          </div>
        </div>
    
        <!-- Text input-->
        <div class="form-group">
          <div class="col-md-6">
            <input  name="fcompra" type="text" placeholder="Fecha de la compra" class="form-control input-md" v-model="fcompra">
    
          </div>
        </div>
        <!-- Text input-->
        <div class="form-group">
          <div class="row">
            <div class="col-md-2 autocomplete-sku">
              <input id="sku" name="sku" type="text" placeholder="SKU NOMBRE" class="form-control" v-model="sku" @keyup="buscarProducto()" >
              <div id="myInputautocomplete-list" class="autocomplete-items-sku ">
              <div  v-for="(item,index) in skus" @click="sku = item.sku; skus = null; nombre = item.nombre">
                ${item.nombre}
              </div>
              <input type="hidden" v-model="nombre">
            </div>
            </div>
            <div class="col-md-2">
              <input id="cantidad" name="cantidad" type="number" placeholder="Cantidad" class="form-control" v-model="cantidad">
            </div>
            {{!-- agrega los campos --}}
    
            <button class="btn btn-block btn-warning col-md-2" type="button" id="agregar" @click="agregar" >+</button>
          </div>
          <div class="row" id="articulos" v-for="(items,index) in pedido ">
            <div class="col-2">
              <div class=" d-block form-control bg-info text-center">
                ${items.nombre} SKU:
                <strong>${items.sku}</strong>
              </div>
            </div>
            <div class="col-2">
              <input class="form-control" type="number" v-model="pedido[index].cantidad">
              </input>
            </div>
            <div class="col-2 btn btn-block btn-danger" @click="borrar(index)">borrar</div>
          </div>
          <input type="hidden" name="pedido" v-model="pedido">
          <div class="col-md-6"><button class="btn btn-success col-md-12 mt-3 " type="submit">Cargar</button></div>
        </div>
    
      </fieldset>
    </form>
    </div>